<footer>
    <div class="footer-text">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
      <p>kickskart</p>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>
