<div class="footer">
  <div class="footer-links">
    <a href="#">about us</a>
    <a href="#">terms & conditons</a>
    <a href="#">contact us</a>
  </div>
  <div class="footer-copyright">
    Kickskart<i class="fas fa-heart"></i>
  </div>
</div>
