<footer class="py-5">
<div>
  <div class="footer-text">
    <p><strong>&copy; Fresh to death since '23. No rights reserved</strong></p>
    <p>KicksKart</p>
  </div>
  <div class="social-icons">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</footer>
