@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
.banner {
  background-size: cover;
  max-width: max-content;
  background-position: center;
  padding: 150px 0;
  // margin-buttom:10px;
}
