@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
h1{
  font-family: 'Inter', sans-serif;
  position:relative;
  left:40%;
  width: fit-content;
}
p{
  position:relative;
  left:38%;
  width: fit-content;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
