
.card-container {
  display: grid;
  grid-template-columns: 4fr;
  grid-gap: 16px;
  margin-top: 16px;
  padding-bottom: 100px;
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
  transition: transform 0.3s ease;

}

/* For tablets: */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For desktop: */
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Common card styling */
.card {
  border-radius: 15px; /* Remove border radius */
  // box-shadow: none; /* Remove box shadow */
  border: 0px;
  background-color: #ffffff;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px; /* Remove border radius */
  border-top-right-radius: 15px; /* Remove border radius */

}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  position: relative;
  left: 0;
  padding-top: 12px;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 0; /* Remove border radius */
  box-shadow: none;
  }

.show-card-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-radius: 0; /* Remove border radius */
  box-shadow: none;
  }

.card .card-infos .card-avatar {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  // border-radius: 20px;
}

.card .card-price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.show-details-link{
  text-decoration: none;
  font: bold;
}
.card-container:hover {
  transform: translateZ(20px);
}
