.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.offer-card {
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem;
  border-radius: 10px;
  a {
    text-decoration: none;
    display: inline-block;
  }
}

.offer-card {
  img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.offer-card-info {
  padding: 2rem;
  a {
  font-family: 'Inter', sans-serif;
  }
}

.offers-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
